@-webkit-keyframes hand {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes hand {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

.container {
  width: 1095px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

a :focus {
  outline: 0;
}

button {
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  background-color: #F6F6FD;
  font-family: Rubik;
  font-style: normal;
  color: #484b50;
}

body .wrapper-mobile {
  position: relative;
  display: none;
  padding: 0 15px 15px 15px;
  width: 100%;
  height: calc(var(--vh, 1vh) * 100);
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper-mobile .header-mobile {
  height: 62px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper-mobile .header-mobile .language {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 15px;
  top: 41px;
  z-index: 2;
  background: #E3E3F0;
  border-radius: 6px;
}

body .wrapper-mobile .header-mobile .language.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper-mobile .header-mobile .language .language__ru,
body .wrapper-mobile .header-mobile .language .language__en {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 15px;
}

body .wrapper-mobile .header-mobile .language .language__ru img,
body .wrapper-mobile .header-mobile .language .language__en img {
  width: 18px;
  border-radius: 100%;
}

body .wrapper-mobile .header-mobile .language .language__ru span,
body .wrapper-mobile .header-mobile .language .language__en span {
  font-weight: 400;
  font-size: 14px;
}

body .wrapper-mobile .header-mobile .language .language__ru:hover,
body .wrapper-mobile .header-mobile .language .language__en:hover {
  border-radius: 0 0 6px 6px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  background-color: #FFFFFF;
}

body .wrapper-mobile .header-mobile .language .language__ru {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px #D6D6E0 solid;
}

body .wrapper-mobile .header-mobile .language .language__ru:hover {
  border-radius: 6px 6px 0 0;
}

body .wrapper-mobile .header-mobile .header-mobile__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

body .wrapper-mobile .header-mobile .header-mobile__left-block img {
  width: 62px;
}

body .wrapper-mobile .header-mobile .header-mobile__left-block .header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper-mobile .header-mobile .header-mobile__left-block .header__logo-title span:first-child {
  font-weight: 600;
  font-size: 12px;
}

body .wrapper-mobile .header-mobile .header-mobile__left-block .header__logo-title span:last-child {
  font-weight: 400;
  font-size: 10px;
}

body .wrapper-mobile .header-mobile .header-mobile__right-block button {
  width: 40px;
  height: 22px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 500;
  font-size: 9px;
  border: none;
  background: #e3e3f0;
  border-radius: 6px;
  color: #484b50;
}

body .wrapper-mobile .header-mobile .header-mobile__right-block button img {
  width: 12px;
  border-radius: 32px;
}

body .wrapper-mobile .main-mobile {
  width: auto;
  max-width: 630px;
  margin: 0 auto;
}

body .wrapper-mobile .main-mobile .main-mobile__slider {
  height: calc(var(--vh, 1vh) * 83);
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide {
  padding: 21px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide .main-mobile__logo {
  width: 283px;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide .main-mobile__title {
  margin: 30px 0 0 0;
  font-weight: 700;
  font-size: 36px;
  text-align: center;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide .main-mobile__subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  margin: 10px 0 0 0;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide .hand {
  margin: 30px 0 0 0;
  width: 25px;
  -webkit-animation: hand 1.5s linear infinite;
          animation: hand 1.5s linear infinite;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide .main-mobile__slide-logo {
  width: 309px;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide h2 {
  margin: 30px auto 0 0;
  font-weight: 700;
  font-size: 28px;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide p {
  margin: 30px auto 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .swiper-wrapper .swiper-slide p span {
  font-weight: 600;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .mobile-pagination {
  position: fixed;
  left: 15px;
  right: auto;
}

body .wrapper-mobile .main-mobile .main-mobile__slider .mobile-pagination .swiper-pagination-bullet-active {
  background: #4444c7;
}

body .wrapper-mobile .footer-mobile {
  padding: 15px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 15px;
  border-radius: 6px;
}

body .wrapper-mobile .footer-mobile button {
  width: 100%;
  height: 40px;
  border: none;
  background: none;
  font-size: 15px;
  border-radius: 6px;
}

body .wrapper-mobile .footer-mobile button:first-child {
  background-color: #4444c7;
  font-weight: 600;
  color: #ffffff;
}

body .wrapper-mobile .footer-mobile button:first-child:hover {
  background-color: #5c5cdc;
}

body .wrapper-mobile .footer-mobile button:last-child {
  border: 1px solid #484b50;
  font-weight: 400;
  color: #484b50;
}

body .wrapper-mobile .footer-mobile button:last-child:hover {
  background-color: #484b50;
  color: #ffffff;
}

body .social-container {
  display: none;
}

body .social-container.active {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  background: rgba(7, 7, 12, 0.8);
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .social-container.active .social {
  width: 1160px;
  text-align: center;
}

body .social-container.active .social .social__title {
  font-weight: 700;
  font-size: 28px;
  color: #ffffff;
  margin: 0 0 10px 0;
}

body .social-container.active .social .social__title br {
  display: none;
}

body .social-container.active .social .social__subtitle {
  font-weight: 400;
  font-size: 16px;
  color: #ffffff;
}

body .social-container.active .social .social__flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 30px 0 0 0;
}

body .social-container.active .social .social__flex-container a .social__elem1 {
  width: 220px;
  background: -webkit-gradient(linear, left top, right top, from(#66ac3c), to(#3cac40));
  background: linear-gradient(90deg, #66ac3c 0%, #3cac40 100%);
}

body .social-container.active .social .social__flex-container a .social__elem2 {
  width: 220px;
  background: -webkit-gradient(linear, left top, right top, from(#5cabed), to(#5cc1ed));
  background: linear-gradient(90deg, #5cabed 0%, #5cc1ed 100%);
}

body .social-container.active .social .social__flex-container a .social__elem3 {
  width: 240px;
  background: -webkit-gradient(linear, left top, right top, from(#c76344), to(#c7a244)), -webkit-gradient(linear, left top, right top, from(#4444c7), to(#4469c7));
  background: linear-gradient(90deg, #c76344 0%, #c7a244 100%), linear-gradient(90deg, #4444c7 0%, #4469c7 100%);
}

body .social-container.active .social .social__flex-container a .social__elem4 {
  width: 220px;
  background: -webkit-gradient(linear, left top, right top, from(#df3023), to(#ac23a5));
  background: linear-gradient(90deg, #df3023 0%, #ac23a5 100%);
}

body .social-container.active .social .social__flex-container a .social__elem5 {
  width: 220px;
  background: -webkit-gradient(linear, left top, right top, from(#1769ff), to(#1720ff));
  background: linear-gradient(90deg, #1769ff 0%, #1720ff 100%);
  border-radius: 6px;
}

body .social-container.active .social .social__flex-container a .social__flex-elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 88px;
  border-radius: 6px;
  background-repeat: no-repeat;
  background-position: center;
  overflow: hidden;
  padding: 0 15px;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}

body .social-container.active .social .social__flex-container a .social__flex-elem:hover {
  -webkit-transform: scale(1.02);
          transform: scale(1.02);
}

body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__left-block img {
  width: 24px;
}

body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__left-block .span-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  gap: 2px;
}

body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__left-block .span-container span {
  font-weight: 400;
  line-height: 17px;
  font-size: 14px;
  color: #ffffff;
}

body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__left-block .span-container span:last-child {
  font-size: 12px;
  line-height: 14px;
}

body .wrapper {
  padding: 35px 0 0 0;
  width: 100%;
  position: relative;
}

body .wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
}

body .wrapper .header .language {
  position: absolute;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  right: 0;
  top: 41px;
  z-index: 2;
  background: #E3E3F0;
  border-radius: 6px;
}

body .wrapper .header .language.active {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .wrapper .header .language .language__ru,
body .wrapper .header .language .language__en {
  width: 130px;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  padding: 0 15px;
}

body .wrapper .header .language .language__ru img,
body .wrapper .header .language .language__en img {
  width: 18px;
  border-radius: 100%;
}

body .wrapper .header .language .language__ru span,
body .wrapper .header .language .language__en span {
  font-weight: 400;
  font-size: 14px;
}

body .wrapper .header .language .language__ru:hover,
body .wrapper .header .language .language__en:hover {
  border-radius: 0 0 6px 6px;
  -webkit-transition: .3s;
  transition: .3s;
  cursor: pointer;
  background-color: #FFFFFF;
}

body .wrapper .header .language .language__ru {
  border-radius: 6px 6px 0 0;
  border-bottom: 1px #D6D6E0 solid;
}

body .wrapper .header .language .language__ru:hover {
  border-radius: 6px 6px 0 0;
}

body .wrapper .header .header__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
}

body .wrapper .header .header__left-block img {
  width: 60px;
}

body .wrapper .header .header__left-block .header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .header .header__left-block .header__logo-title span {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .header .header__left-block .header__logo-title span:last-child {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

body .wrapper .header .header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

body .wrapper .header .header__right-block button {
  width: 148px;
  height: 40px;
  border: 1px solid #484b50;
  border-radius: 6px;
  background: none;
  font-weight: 400;
  font-size: 15px;
  color: #484b50;
}

body .wrapper .header .header__right-block button:nth-child(1):hover {
  background: #484b50;
  color: #ffffff;
}

body .wrapper .header .header__right-block button:nth-child(2) {
  background-color: #4444c7;
  border: none;
  color: #ffffff;
  font-weight: 600;
}

body .wrapper .header .header__right-block button:nth-child(2):hover {
  background: #5c5cdc;
}

body .wrapper .header .header__right-block button:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 500;
  font-size: 9px;
  border: none;
  background-color: #e3e3f0;
}

body .wrapper .header .header__right-block button:nth-child(3):hover {
  background: #ffffff;
}

body .wrapper .header .header__right-block button:nth-child(3) img {
  border-radius: 50%;
  width: 12px;
}

body .wrapper .main {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .main .main__logo {
  width: 283px;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

body .wrapper .main .main__title {
  font-weight: 700;
  font-size: 48px;
  margin: 30px 0 0 0;
}

body .wrapper .main .main__subtitle {
  line-height: 130%;
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0 0 0;
}

body .wrapper .main .main__button {
  margin: 30px 0 0 0;
  width: 148px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  background-color: #4444c7;
  border: none;
  color: #ffffff;
}

body .wrapper .main .main__button:hover {
  background: #5c5cdc;
}

body .wrapper .about {
  padding: 86px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .about .about__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 345px;
  gap: 30px;
}

body .wrapper .about .about__elem img {
  width: 345px;
}

body .wrapper .about .about__elem h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
}

body .wrapper .about .about__elem p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

body .wrapper .portfolio {
  padding: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .portfolio .portfolio__title {
  font-weight: 700;
  font-size: 36px;
}

body .wrapper .portfolio .portfolio__subtitle {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

body .wrapper .portfolio .portfolio__flex-container {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem {
  margin: 30px 0 0 0;
  width: 345px;
  height: 322px;
  border-radius: 6px;
  overflow: hidden;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider {
  width: 100%;
  height: 260px;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider:hover .swiper-button-next,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider:hover .swiper-button-prev {
  background-image: url(../img/portfolio/arrow-white.svg);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-wrapper .swiper-slide:hover {
  cursor: pointer;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next {
  margin: 0;
  background: rgba(36, 38, 41, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev:hover,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next:hover {
  background-color: #5c5cdc;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev::after,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next::after {
  content: "";
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev {
  background-image: url(../img/portfolio/arrow-grey.svg);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next {
  background-image: url(../img/portfolio/arrow-grey.svg);
  -webkit-transform: rotate(180deg) translateY(-50%);
          transform: rotate(180deg) translateY(-50%);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #484b50;
  width: 6px;
  height: 6px;
  margin: 0 3px;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #4444c7;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information {
  width: 100%;
  height: 62px;
  background-color: #33373a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__description .flex-elem__title {
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__description .flex-elem__subtitle {
  margin: 4px 0 0 0;
  font-weight: 500;
  font-size: 10px;
  color: #5c5cdc;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__button {
  width: 96px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__button:hover {
  background: #ffffff;
  border: none;
  color: #484b50;
}

body .wrapper .portfolio .portfolio__button {
  margin: 60px 0 0 0;
  width: 228px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  background-color: #4444c7;
  border: none;
  color: #ffffff;
}

body .wrapper .portfolio .portfolio__button:hover {
  background: #5c5cdc;
}

body .wrapper .footer {
  margin: 80px 0 0 0;
  width: 100%;
  background-color: #242629;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer .footer__description {
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
}

@media (max-width: 1200px) {
  body {
    overflow: hidden;
  }
  body .social-container.active .social .social__title {
    line-height: 130%;
  }
  body .social-container.active .social .social__title br {
    display: block;
  }
  body .social-container.active .social .social__flex-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
  }
  body .social-container.active .social .social__flex-container a .social__flex-elem {
    width: 90vw;
    height: 64px;
  }
  body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__left-block {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 15px;
  }
  body .social-container.active .social .social__flex-container a .social__flex-elem .flex-elem__qr {
    display: none;
  }
  body .wrapper {
    display: none;
  }
  body .wrapper-mobile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
/*# sourceMappingURL=style.css.map */