/* rubik-regular - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/rubik-v19-latin_cyrillic-regular.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik-v19-latin_cyrillic-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v19-latin_cyrillic-regular.woff2") format("woff2"), url("../fonts/rubik-v19-latin_cyrillic-regular.woff") format("woff"), url("../fonts/rubik-v19-latin_cyrillic-regular.ttf") format("truetype"), url("../fonts/rubik-v19-latin_cyrillic-regular.svg#Rubik") format("svg");
  /* Legacy iOS */
}

/* rubik-500 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/rubik-v19-latin_cyrillic-500.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik-v19-latin_cyrillic-500.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v19-latin_cyrillic-500.woff2") format("woff2"), url("../fonts/rubik-v19-latin_cyrillic-500.woff") format("woff"), url("../fonts/rubik-v19-latin_cyrillic-500.ttf") format("truetype"), url("../fonts/rubik-v19-latin_cyrillic-500.svg#Rubik") format("svg");
  /* Legacy iOS */
}

/* rubik-600 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/rubik-v19-latin_cyrillic-600.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik-v19-latin_cyrillic-600.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v19-latin_cyrillic-600.woff2") format("woff2"), url("../fonts/rubik-v19-latin_cyrillic-600.woff") format("woff"), url("../fonts/rubik-v19-latin_cyrillic-600.ttf") format("truetype"), url("../fonts/rubik-v19-latin_cyrillic-600.svg#Rubik") format("svg");
  /* Legacy iOS */
}

/* rubik-700 - latin_cyrillic */
@font-face {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/rubik-v19-latin_cyrillic-700.eot");
  /* IE9 Compat Modes */
  src: local(""), url("../fonts/rubik-v19-latin_cyrillic-700.eot?#iefix") format("embedded-opentype"), url("../fonts/rubik-v19-latin_cyrillic-700.woff2") format("woff2"), url("../fonts/rubik-v19-latin_cyrillic-700.woff") format("woff"), url("../fonts/rubik-v19-latin_cyrillic-700.ttf") format("truetype"), url("../fonts/rubik-v19-latin_cyrillic-700.svg#Rubik") format("svg");
  /* Legacy iOS */
}

.container {
  width: 1095px;
  margin: 0 auto;
}

button {
  cursor: pointer;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: Rubik;
  font-style: normal;
  color: #484b50;
}

body .wrapper {
  padding: 35px 0 0 0;
  width: 100%;
}

body .wrapper .header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .header .header__left-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  gap: 12px;
}

body .wrapper .header .header__left-block img {
  width: 60px;
}

body .wrapper .header .header__left-block .header__logo-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .header .header__left-block .header__logo-title span {
  font-weight: 600;
  font-size: 12px;
  line-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .header .header__left-block .header__logo-title span:last-child {
  font-weight: 400;
  font-size: 10px;
  line-height: 120%;
}

body .wrapper .header .header__right-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  gap: 20px;
}

body .wrapper .header .header__right-block button {
  width: 148px;
  height: 40px;
  border: 1px solid #484b50;
  border-radius: 6px;
  background: none;
  font-weight: 400;
  font-size: 15px;
  color: #484b50;
}

body .wrapper .header .header__right-block button:nth-child(1):hover {
  background: #484b50;
  color: #ffffff;
}

body .wrapper .header .header__right-block button:nth-child(2) {
  background-color: #4444c7;
  border: none;
  color: #ffffff;
  font-weight: 600;
}

body .wrapper .header .header__right-block button:nth-child(2):hover {
  background: #5c5cdc;
}

body .wrapper .header .header__right-block button:nth-child(3) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 40px;
  height: 22px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 5px;
  font-weight: 500;
  font-size: 9px;
  border: none;
  background-color: #e3e3f0;
}

body .wrapper .header .header__right-block button:nth-child(3):hover {
  background: #ffffff;
}

body .wrapper .header .header__right-block button:nth-child(3) img {
  border-radius: 50%;
  width: 12px;
}

body .wrapper .main {
  padding: 100px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .main .main__logo {
  width: 283px;
  -webkit-transform: translateX(-20%);
          transform: translateX(-20%);
}

body .wrapper .main .main__title {
  font-weight: 700;
  font-size: 48px;
  margin: 30px 0 0 0;
}

body .wrapper .main .main__subtitle {
  font-weight: 400;
  font-size: 16px;
  margin: 10px 0 0 0;
}

body .wrapper .main .main__button {
  margin: 30px 0 0 0;
  width: 148px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  background-color: #4444c7;
  border: none;
  color: #ffffff;
}

body .wrapper .main .main__button:hover {
  background: #5c5cdc;
}

body .wrapper .about {
  padding: 86px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .about .about__elem {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 345px;
  gap: 30px;
}

body .wrapper .about .about__elem img {
  width: 345px;
}

body .wrapper .about .about__elem h2 {
  font-weight: 700;
  font-size: 28px;
  line-height: 100%;
}

body .wrapper .about .about__elem p {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
}

body .wrapper .portfolio {
  padding: 80px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .wrapper .portfolio .portfolio__title {
  font-weight: 700;
  font-size: 36px;
}

body .wrapper .portfolio .portfolio__subtitle {
  margin: 10px 0 0 0;
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
}

body .wrapper .portfolio .portfolio__flex-container {
  margin: 30px 0 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem {
  margin: 30px 0 0 0;
  width: 345px;
  height: 322px;
  border-radius: 6px;
  overflow: hidden;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider {
  width: 100%;
  height: 260px;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-wrapper .swiper-slide img {
  display: block;
  width: 100%;
  border-radius: 6px 6px 0 0;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next {
  background: rgba(36, 38, 41, 0.5);
  width: 30px;
  height: 30px;
  border-radius: 100%;
  background-repeat: no-repeat;
  background-position: center;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev:hover,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next:hover {
  background-color: #5c5cdc;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev::after,
body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next::after {
  content: "";
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev {
  background-image: url(../img/portfolio/arrow-grey.svg);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-prev:hover {
  background-image: url(../img/portfolio/arrow-white.svg);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next {
  background-image: url(../img/portfolio/arrow-grey.svg);
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-button-next:hover {
  background-image: url(../img/portfolio/arrow-white.svg);
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-pagination .swiper-pagination-bullet {
  opacity: 1;
  background: #484b50;
  width: 6px;
  height: 6px;
  margin: 0 3px;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__slider .swiper-pagination .swiper-pagination-bullet.swiper-pagination-bullet-active {
  background-color: #4444c7;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information {
  width: 100%;
  height: 62px;
  background-color: #33373a;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0 15px;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__description .flex-elem__title {
  font-weight: 600;
  font-size: 12px;
  color: #ffffff;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__description .flex-elem__subtitle {
  margin: 4px 0 0 0;
  font-weight: 500;
  font-size: 10px;
  color: #5c5cdc;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__button {
  width: 96px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 6px;
  background: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

body .wrapper .portfolio .portfolio__flex-container .flex-elem .flex-elem__information .flex-elem__button:hover {
  background: #ffffff;
  border: none;
  color: #484b50;
}

body .wrapper .portfolio .portfolio__button {
  margin: 60px 0 0 0;
  width: 228px;
  height: 40px;
  border-radius: 6px;
  font-weight: 600;
  font-size: 15px;
  background-color: #4444c7;
  border: none;
  color: #ffffff;
}

body .wrapper .portfolio .portfolio__button:hover {
  background: #5c5cdc;
}

body .wrapper .footer {
  margin: 80px 0 0 0;
  width: 100%;
  background-color: #242629;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

body .wrapper .footer .footer__description {
  font-weight: 400;
  font-size: 10px;
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */